* {

}

body {
    min-height: 100vh;
    background-color: #251749;
    background-image: url(../img/view.jpg);
    background-size: cover;
}

.form {
    max-width: 1000px;
    max-height: 1500px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    /*color:rgb(56, 74, 241);*/
    margin-top: 8%;
    margin-left: 20%;
    
}

h1 {
    text-align: center;
}

.container1 {
    min-height: 500px;
}

