
*
{
margin: 0;
padding: 0;
}
 body {
    background: lightsalmon;
 }

 .header {
    width:100%;
    /* background: #aaadb4; */
     background-image: url(../../assets/img/bg2.jpg.jpg);
     background-position: center;
     background-size: cover;
     height: 100vh;
     position: relative;
     font-family: sans-serif;
 }

 .navbar {
    width: 86%;
    display: flex;
    margin: auto;
    padding: 15px 0;
    align-items: center;
    justify-content: space-between;
}

.navbar ul {
margin-top: 4%;
margin-left: 53%;
} 

.navbar ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 16px;
}

h1 {
    color: red;
}