* {

<<<<<<< HEAD
*
{
margin: 0;
padding: 0;
}
 body {
    background: white;
 }

 .header {
    width:100%;
    /* background: #aaadb4; */
     background-image: url(../../assets/img/bg2.jpg.jpg);
     background-position: center;
     background-size: cover;
     height: 100vh;
     position: relative;
     font-family: sans-serif;
 }

 .navbar {
    width: 86%;
    display: flex;
    margin: auto;
    padding: 15px 0;
    align-items: center;
    justify-content: space-between;
=======
>>>>>>> aad8eb1b13e1328fe713d333b02a85d0920149d8
}

body {
    min-height: 100vh;
    background-color: #251749;
    background-image: url(../img/green.jpg);
    background-size: cover;
}

.card {
    max-width: 1000px;
    max-height: 1500px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color:rgb(56, 74, 241);
    margin-top: 8%;
    margin-left: 20%;
    
}

h1 {
<<<<<<< HEAD
    color: red;
}